html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    min-width: 1200px;
}

.Bialystok {
    display: block;
    margin: auto;
    width: 1000px;
    display: flex;
    margin-top: 25px;
}

.DojlidyGorne {
    position: absolute;
    top: 531px;
    left: 1076px;
    width: 193px;
    height: 285px;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
}

    .DojlidyGorne:hover {
        box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.5);
    }


area.highlighted {
    background-color: rgba(255, 255, 0, 0.3); /* Przezroczyste 鄴速e t這 */
    outline: 2px solid red; /* Czerwone obramowanie */
}


area.highlighted:hover{
    background-color: rgba(255, 255, 0, 0.3); /* Przezroczyste 鄴速e t這 */
    outline: 2px solid red; /* Czerwone obramowanie */
}

canvas {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
}

.hovered {
    outline: 2px solid red;
}
